.course{
    display:flex;
    margin:20px;
    border:1px solid rgb(183, 182, 195);
    border-radius: 20px;
    background-color: rgb(126, 163, 199);
}
.logo-container{
    background-color: rgb(93, 137, 181);
   border-radius:20px;
}
.logo-container img{
    width:250px;
    padding:20px;
}
.course-info{
   margin:40px auto;
}