.header{
    
    background-color: black;
    color: white;
    justify-content:center;
    align-items:center;
    
}
.header-info{
    /* background-image:url(../../images/header-img.jpg);
        background-repeat:no-repeat;
        background-size: cover;
        opacity: 0.9; */
    padding:116px;
    width:50%;
}
.header-img{
    width: 50%;
}
.header-img img{
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .header-img{
        display:none;
    }
    .header{
        background-image:url(../../images/header-img.jpg);
        background-repeat:no-repeat;
        background-size: cover;
    }
    .header-info{
       padding:10px;
       width:70%;
    }
}