.question{
margin:20px auto;
padding: auto;
box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.1);
/* border: 1px solid gray; */
padding:40px;
justify-content:center;
width:100%;
border-radius: 20px;
}
.question h4{
    color:rgb(93, 137, 181);
}
.option-container{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap:0;
    background-color:rgb(93, 137, 181);
    padding:20px;
    margin:20px;
    border-radius: 20px;
}
.option-container p{
    background-color:white;
    padding:10px;
    margin:10px;
    border-radius: 10px;
    color:black;
    font-size: 18px;
}
.option-container p:hover{
 background-color: rgb(151, 181, 211);
}
.question-info{
    margin:10px;
    padding:10px;
    justify-content:space-between;
    align-items:center;
}
.wrong{
  background-color: red;
}
.right{
  background-color:green;
}
@media only screen and (max-width: 600px) {
 .question{
  /* margin:0px 0px;
  padding:0px 0px; */
  width:200px;
 }
  .option-container{
    grid-template-columns: repeat(1,1fr);
  }
  .question-info{
    flex-direction: column;
  }
  }